
temp/*.o
temp/*.ppu
temp/*.a
temp/*.compiled
temp/

tmp/*.o
tmp/*.ppu
tmp/*.a
tmp/*.compiled
tmp/

binary/*
!binary/resources/
!binary/*.dll

bin/*
!bin/resources/
!bin/*.dll

# macos
.DS_Store
*.dylib

# laz
backup/
#examples/
lib/
templates/standard_game/
*.lps

# GNU+Linux
*.so
